[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".config/nvim/NvChad"]
	path = .config/nvim/NvChad
	url = https://github.com/NvChad/NvChad.git
