# Local/private config goes in the include
[include]
  path = ~/.gitconfig.local
[init]
  defaultBranch = main
[push]
  default = current
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
  excludesfile = ~/.gitignore
[commit]
	gpgsign = true
  template = ~/.gitmessage
[fetch]
  prune = true
[rebase]
  autosquash = true
[gpg]
	program = gpg
[pull]
	rebase = true